<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="http://127.0.0.1:5500/img/1494746401977_2236114_1440x960_1494746404200.jpg" style="width: 500px;;" alt="..." />
        <h5>Esu kačių ir šunų mylėtoja. O tokie žmonės būna draugiški, darbštūs (nes juk kiek reikalų su gyvūnais :D)</h5>
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Startas</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Grafika-Dizainas-Iliustravimas</p>
    </div>
  </header>